*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-bottom: -30px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.items{
    text-align: center;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#numberInput{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

button{
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0 -10px
}

#displayImg{
    text-align: center;
}

#result {
    text-align: center;
    margin: 20px 0px -10px;
    font-size: 35px;
    color: #ff1e00;
}

